html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #333;
}

.Title {
    margin: 0;
    padding: 2vw;
    text-align: center;
    background-color: #AAA;
}

.Title img {
    width: 20vw;
}

.CountDownTimerContainer {
    display: block;
    width: 50%;
    float: left;
}

.TaskContainer {
    display: block;
    width: 50%;
    float: right;
}
