#CountDownTimer {
    text-align: center;
    font-size: 10vw;
}

#CountDownTimer .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vw;
    margin: 0;
    background-color: #CCC;
}

#CountDownTimer .Navbar li {
    cursor: pointer;
    list-style: none;
    font-size: 2.5vw;
}

#CountDownTimer #display {
    border-radius: 2vw;
    margin: 2vw;
    display: block;
}

#CountDownTimer .Paused {
    color: #999;
}

#CountDownTimer .Finished {
    animation: 1s infinite evidence ;
}

@keyframes evidence {
    0% {
        background-color: transparent;
        color: #333;
    }
    50% {
        background-color: #333;
        color: red;
    }
    100% {
        background-color: transparent;
        color: #333;
    }
}

#CountDownTimer .Buttons {
    font-size: 2vw;
    color: #EEE;
    margin: 3vw;
}

#CountDownTimer .Buttons span {
    border-radius: 5%;
    cursor: pointer;
    padding: 2vw;
}

#CountDownTimer .Buttons .Start {
    background-color: #4bac45;
}

#CountDownTimer .Buttons .Stop {
    background-color: #e4242b;
}

#CountDownTimer .Buttons .Reset {
    background-color: #333;
}

#CountDownTimer .Buttons span:hover {
    background-color: #EEE;
    color: #333;
}
