#Task {

}

#Task .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vw;
    margin: 0;
    background-color: #CCC;
}

#Task .Navbar li {
    cursor: pointer;
    list-style: none;
    font-size: 2.5vw;
}
